.DS_Store
src/SoloOKRs/SoloOKRs.xcodeproj/project.xcworkspace/
src/SoloOKRs/SoloOKRs.xcodeproj/xcuserdata/
src/SoloOKRs/SoloOKRs.xcodeproj/project.xcworkspace/xcuserdata/kane.xcuserdatad/UserInterfaceState.xcuserstate
